<?xml version='1.0' encoding='utf-8'?>
<widget id="com.xamepage.android" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>XamePage</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>cp xamepage-app.zip /workspaces/Project-50s/
    
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
